div.container
	div.row
		div.col-md-8.col-md-offset-2
			div.title_blok
				h1 your favorite one page multi purpose template
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, voluptatem natus tenetur quidem nulla voluptatibus.
				button.my_btn.btn_md find out more