section.picture
	div.container-fluid
		div.row
			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-1.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-2.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-3.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-4.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-5.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-6.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-7.jpg" alt="workItem")

			div.col-md-3.col-xs-6.padding0
				div.picture_block
					div.picture_wrap
						div.picture_descr
							h4 project name
							p User interface description
					img.img-responsive(src="images/work-8.jpg" alt="workItem")

