doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel="stylesheet", href="css/main.min.css")
		title Bootstrap-Lend
body
	include sections/header
	include sections/services
	include sections/picture
	include sections/team
	include sections/footer



	script(src='js/main.min.js')