.title_blok{
	color: #fff;
	text-align: center;
	margin-top: 200px;

		h1{
			font-size: 50px;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		p{
			font-size: 18px;
			margin-bottom: 50px;
		}

		.btn_md{
			padding: 15px 50px;
		}
}