.service{
	padding: 95px 0;

	&_block{
		margin-bottom: 50px;
		text-align: center;

		h4{
			margin: 25px 0 20px;
			text-transform: uppercase;
			font-family: $ff-bold;
		}
		p{
			font-size: 14px;
		}
	}
}