.my_btn{
			background-color: #e84545;
			border: none;
			border-radius: 2px;
			font-size: 13px;
			color: #fff;
			text-transform: uppercase;
			transition: background-color 1s;
		}
			.my_btn:hover{
				background-color: #FF4C2F;
			}