/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media  (max-width : 1199px) {
body{
		overflow-x: hidden;
	}
nav{
		line-height: 42px !important;
	}
	.menu{
		padding-top: 30px !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

/*TEAM*/
.team_item{
			margin-bottom: 50px !important;
		}
/*FOOTER*/
	.footer_item{
		padding: 10px 0;
	}
}

/* Small Devices, Tablets */
@media (max-width: 767px) {
	.animated{
			transition-property: none !important;
			transform: none !important;
			animation: none !important;
		}

	nav{
		position: fixed !important;
		height: 60px !important;
		line-height: 60px !important;
		background-color: #2a2e48;

		.menu_btn{
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: #e84545;
			color: #fff;

			span{
				font-size: 22px;
				position: relative;
				top: -17px;
				right: 1px;
			}
		}

		.logo{
			padding-top: 15px !important;
		}

		#top_menu{
			background-color: #2a2e48;
			padding: 20px 0;
		}

		.menu{
					padding-top: 0px !important;

					li{
						display: block !important;
						text-align: center;
						a{
							display: block !important;
						}
					}
					li a:hover{
						background-color: #fff;
						color: #000 !important;
					}
		}

		.top_line{
			display: none;
		}
	}

	.title_blok{
		margin-top: 140px !important;
		h1{
			font-size: 40px !important;
		}
	}

	/*TEAM*/
	.team{
		padding: 80px 0 !important;
	}

	.download_block{
		padding: 0 0 50px !important;
	}

	/*MODAL*/
	#dlForm{
		width: 100% !important;
	}
}


/* Extra Small Devices, Phones */
@media (max-width: 480px) {
	nav{
		position: fixed !important;
		height: 60px !important;
		line-height: 60px !important;
		background-color: #2a2e48;

		.menu_btn{
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: #e84545;
			color: #fff;

			span{
				font-size: 22px;
				position: relative;
				top: -17px;
				right: 1px;
			}
		}

		.logo{
			padding-top: 15px !important;
		}

		#top_menu{
			background-color: #2a2e48;
			padding: 20px 0;
		}

		.menu{

				li{
					display: block !important;
					text-align: center;
					a{
						display: block !important;
					}
				}
				li a:hover{
					background-color: #fff;
					color: #000 !important;
				}
		}

		.top_line{
			display: none;
		}
	}

	.title_blok{
		margin-top: 100px !important;
		h1{
			font-size: 30px !important;
		}
	}

	/*BLOCK PICTURE*/
	.picture{
		.col-xs-6{
			width: 100%;
		}
	}

	/*MODAL*/
	#dlForm{
		width: 100% !important;
	}

	/*button call-phone*/
	.call_btn{
		top: 8px !important;
		right: 60px !important;
	}
}

/* Custom, iPhone Retina */
@media (max-width: 320px) {
	nav{
		position: fixed !important;
		height: 60px !important;
		line-height: 60px !important;
		background-color: #2a2e48;

		.menu_btn{
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: #e84545;
			color: #fff;

			span{
				font-size: 22px;
				position: relative;
				top: -17px;
				right: 1px;
			}
		}

		.logo{
			padding-top: 15px !important;
		}

		#top_menu{
			background-color: #2a2e48;
			padding: 20px 0;
		}

		.menu{

				li{
					display: block !important;
					text-align: center;
					a{
						display: block !important;
					}
				}
				li a:hover{
					background-color: #fff;
					color: #000 !important;
				}
		}

		.top_line{
			display: none;
		}
	}

	.title_blok{
		margin-top: 100px !important;
		h1{
			font-size: 30px !important;
		}
	}

	/*MODAL*/
	#dlForm{
		width: 100% !important;
	}

	/*button call-phone*/
	.call_btn{
		top: 8px !important;
		right: 60px !important;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}